.about_box {
	height: auto;
	background-color: rgba(255, 255, 255, .75);
}

.about_title, .box p {
}

.about_description {
	text-align: left;
}

.box {
	padding: 5px;
	margin: 30px 0px 0px 0px; /* top right bottom left */
}

.box p {
	margin: 15px 5px 10px 5px; /* top right bottom left */
	text-align: left;
}

.link {
	color: #5300C6 !important;
	shadow: 0px 0px 6px yellow !important;
}

.link:hover {
	color: #862DFF !important;
}

.link:focus {
	outline: 0;
}