a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: white;
}

a {
	color: white;
}

/* AM22 - To make google search box appear correct */
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button 
{
  box-sizing: content-box;
  line-height: normal;
}

/* AM22 - To make google search results tabs appear correct */
.gsc-tabsArea div 
{
  /*By default, Google custom search CSS sets it as AUTO, which shows scroll bars*/
  overflow: visible; 
}

.nowrap {
  white-space: nowrap;
}