body {
	background: black url("../res/shades_blue.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}