html {
	background: url("../res/iwall_blue.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.link-spanner {
  position:absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#unit_header {
	color: #c294ff; 
	font-size: 4.5em;
	font-weight: 900;
	transition: text-shadow .5s linear;
	text-transform: uppercase;
	text-shadow: 0px 0px 24px #5200bd;
}

#unit_header:hover {
	text-shadow: 0px 0px 15px #5200bd;
}

.unit_card {
	/* Gray>Blue: 2b739c 0098f0 */
	/* Inviting Blue>Yellow: 0098f0 f9e353 */
	/* Inviting BLue>Green: 0098f0 0cc04e */
	background-color: #0098f0;
	font-size: 25px;
	line-height: 2;
	padding: 2px 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	position: relative;
	transition: width 400ms, background-color 400ms ease;
}

.unit_card:hover {
	background-color: #2057ff;
	width: 90%;
}

.unit_card:active {
	transition: background-color 0s ease;
	background-color: #004a75;
}

/* Unit Titles */
div h2 {
	font-size: 2em;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 1px;
	color: #0f5680;
	text-shadow: 0px 0px 10px #76c3ef;
	font-weight: bold;
/* 	color: #76c3ef;
	text-shadow: 0px 0px 4px #0d4d72; */
}

/* Unit Descriptions */
div p {
	font-style: italic;
	font-size: 1em;
	font-family: Geneva, sans-serif, Verdana;
	/*color: #76c3ef;
	text-shadow: 0px 0px 0px #1472a9;*/
	color: #0f5680;
	text-shadow: 0px 0px 4px #fff;
}

#unit_card_container {
	position: absolute;
}