body {
	background: black url("../res/shades_blue.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: lightblue;
}

iframe {
	allowfullscreen: true;
	mozallowfullscreen: true;
	webkitallowfullscreen: true;
}

#dividing_line {
    border: 0;
    height: 1px;
    background: #949BFE;
    background-image: -webkit-linear-gradient(left, #c294ff, #949BFE, #c294ff); 
    background-image:    -moz-linear-gradient(left, #c294ff, #949BFE, #c294ff); 
    background-image:     -ms-linear-gradient(left, #c294ff, #949BFE, #c294ff); 
    background-image:      -o-linear-gradient(left, #c294ff, #949BFE, #c294ff); 
}

#unit_title {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #45C5E6;
	text-shadow: 2px 2px black;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 0px 0px 6px 0px;
	font-size: 7em;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
}

#unit_descript {
	color: #3EB1CF;
	text-shadow: 2px 2px black;
	font-family: Gill Sans, Verdana;
	font-size: 2.5em;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* #section_title {
	margin-top: 50px;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 4em;
	font-weight: bold;
	color: #45C5E6;
	text-shadow: 1px 1px black;
} */

#section_title {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #45C5E6;
	text-shadow: 1px 1px black;
	margin-bottom: 0;
	margin-top: 50px;
	padding: 0px 0px 6px 0px;
	font-size: 4em;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
}

#section_description {
	text-shadow: 1px 1px black;
	font-size: 1.5em;
	margin-bottom: 50px;
	text-align: left;
}

#recommendation {
	color: #45CDC9;
	text-shadow: 1px 1px black;
	font-size: 1.5em;
}

#section_description {
	color: #45CDC9;
	text-shadow: 1px 1px black;
}

#open_main {
	color: #45CDC9;
	text-shadow: 1px 1px black;
}

#open_luck {
	color: #45CDC9;
	text-shadow: 1px 1px black;
}

#open_main {
	text-align: left;
}

/* .frame_title {
	color: #3EB1CF;
	font-size: 3em;
	margin-top: 70px;
	font-weight: bold;
	text-shadow: 0px 0px 1px black;
} */

.frame_title {
	color: #3EB1CF;
	text-shadow: 2px 2px black;
	font-family: Gill Sans, Verdana;
	font-size: 3em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 70px 20% 7px 20%; /* top right bottom left */
}

.link {
	color: #949BFE !important;
	shadow: 0px 0px 6px yellow !important;
}

.link:hover {
	color: #c294ff !important;
}

/** Each column at bottom of page **/
.bottom_col_div {
	cursor: pointer;
	margin-top: 35px;
	color: black;
	font-size: 1em;
}

/** All three columns at bottom of page **/
#bottom_row {
	margin: 35px auto 30px auto; /* top right bottom left */
}

/** Circle icon of each column **/
.img-circle {
	transition: box-shadow 180ms linear;
	box-shadow: 0px 0px 6px white;
}
#bottom_col_ow:hover > .img-circle {
	box-shadow: 0px 0px 45px white;
}
#bottom_col_gs:hover > .img-circle {
	box-shadow: 0px 0px 45px white;
}
#bottom_col_qz:hover > .img-circle {
	box-shadow: 0px 0px 45px white;
}

/** Buttons galore! **/
.bottom_btn {
	-moz-box-shadow: 0px 9px 30px -6px #2767d6;
	-webkit-box-shadow: 0px 9px 30px -6px #2767d6;
	box-shadow: 0px 9px 30px -6px #2767d6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #01409f), color-stop(1, #07244d));
	background: -moz-linear-gradient(top, #01409f 5%, #07244d 100%);
	background: -webkit-linear-gradient(top, #01409f 5%, #07244d 100%);
	background: -o-linear-gradient(top, #01409f 5%, #07244d 100%);
	background: -ms-linear-gradient(top, #01409f 5%, #07244d 100%);
	background: linear-gradient(to bottom, #01409f 5%, #07244d 100%);
	background-color: #01409f;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	padding: 13px 34px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}

/* Separate each column independently */
#bottom_col_ow:hover > .bottom_btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #07244d), color-stop(1, #01409f));
	background: -moz-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -webkit-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -o-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -ms-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: linear-gradient(to bottom, #07244d 5%, #01409f 100%);
	background-color: #07244d;
}
#bottom_col_gs:hover > .bottom_btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #07244d), color-stop(1, #01409f));
	background: -moz-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -webkit-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -o-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -ms-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: linear-gradient(to bottom, #07244d 5%, #01409f 100%);
	background-color: #07244d;
}
#bottom_col_qz:hover > .bottom_btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #07244d), color-stop(1, #01409f));
	background: -moz-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -webkit-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -o-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: -ms-linear-gradient(top, #07244d 5%, #01409f 100%);
	background: linear-gradient(to bottom, #07244d 5%, #01409f 100%);
	background-color: #07244d;
}
.bottom_btn:active {
	position: relative;
	top: 1px;
}