/* important to combat bootstrap */
body {
	background: url("../res/iwall_blue.jpg") no-repeat center fixed !important; 
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-color: black !important;
	min-height: 100% !important;
	min-width: 100% !important;
}

.content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.link-spanner {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#unit_header {
	color: #c294ff; 
	font-size: 4.5em;
	font-weight: 900;
	margin-bottom: 10px;
	transition: text-shadow .5s linear;
	text-transform: uppercase;
	text-shadow: 0px 0px 24px #5200bd;
}

#unit_header::selection {
	background: red;
	color: yellow;
	text-shadow: 0px 0px;
}

.unit_card {
	/* Gray>Blue: 2b739c 0098f0 */
	/* Inviting Blue>Yellow: 0098f0 f9e353 */
	/* Inviting BLue>Green: 0098f0 0cc04e */
	background-color:#0098f0;
	font-size: 25px;
	line-height: 2;
	padding: 2px 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	position: relative;
	transition: width 400ms, background-color 400ms ease;
	margin-left: 10%;
	margin-right: 10%;
}

.unit_card:hover {
	background-color: #2057ff;
	width: 90%;
}

.unit_card:active {
	transition: background-color 0s ease;
	background-color: #004a75;
}

.unit_card:hover .unit_desc, .unit_card:hover .unit_title {
	color: #fff;
	text-shadow: 0px 0px 5px #76c3ef;
}





.unit_card2 {
	/* Gray>Blue: 2b739c 0098f0 */
	/* Inviting Blue>Yellow: 0098f0 f9e353 */
	/* Inviting BLue>Green: 0098f0 0cc04e */
	background-color:#0098f0;
	font-size: 25px;
	line-height: 2;
	padding: 2px 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	position: relative;
	transition: width 400ms, background-color 400ms ease;
	margin-left: 10%;
	margin-right: 10%;
}

.unit_card2:hover {
	background-color: #2057ff;
	width: 90%;
}

.unit_card2:active {
	transition: background-color 0s ease;
	background-color: #004a75;
}

.unit_card2:hover .unit_desc, .unit_card:hover .unit_title {
	color: #fff;
	text-shadow: 0px 0px 5px #76c3ef;
}





.ad_card {
	background-color: #2b739c !important;
	font-size: 1em !important;
	width: 100% !important;
	margin-top: 0px !important;
	padding-top: 1px !important;
	padding-bottom: 15px !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	line-height: 1 !important;
	max-height: 1 !important;
  	word-wrap: break-word !important;
}

.ad_card:hover {
	background-color: #0cc04e !important;
}

.ad_card:active {
	background-color: #004a75 !important;
}

.unit_title, .unit_desc {
	transition: color 400ms ease-out;
}

.unit_title {
	font-size: 2em;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 1px;
	color: #0a3b57;
	text-shadow: 0px 0px 10px #76c3ef;
	font-weight: bold;
	padding: 0;
	margin: 20px 0px 0px 0px; /* top right bottom left */
}

.unit_desc {
	font-style: italic;
	font-size: 1em;
	font-family: Geneva, sans-serif, Verdana;
	color: #0b4160;
	text-shadow: 0px 0px 2px #fff;
	font-weight: bold;
	padding: 0;
	margin: -7px 0px 13px 0px; /* top right bottom left */
}

#unit_card_container {
	position: absolute;
}