a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: white;
}

a {
	color: white;
}